rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuth() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    match /services/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /addons/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /service_addon_links/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /schedule/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /schedule_pmu/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /reservations/{docId} {
      allow read: if isAuth();
      allow create: if isAuth();
      allow update, delete: if isAdmin();
    }

    match /gallery/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /transformations/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /gallery_items/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /transformation_items/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /artifacts/{appId}/public/data/gallery_items/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /artifacts/{appId}/public/data/transformation_items/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /config/{docId} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }

    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /artifacts/{appId}/public/data/settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /voucher_templates/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /artifacts/{appId}/public/data/voucher_templates/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /voucher_orders/{docId} {
      allow create: if request.auth != null;
      allow read, update, delete: if isAdmin();
    }

    match /artifacts/{appId}/public/data/voucher_orders/{docId} {
      allow create: if request.auth != null;
      allow read, update, delete: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
